/* Basic Style */

.body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.header__img-matrix {
  width: 100%;
}

.header__more-inf {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {

  .header { 
    text-align: center;
  }

}

.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.to-do-list__label, 
.to-do-list__task-input {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.add-elem {
  display: flex;
  padding: 20px 0;
}

.to-do-list {
  margin: 0;
  padding: 0px;
}

.to-do-list__task-item, 
.section__title {
  list-style: none;
}

.to-do-list__task-input, 
.add-elem__add-btn, 
.to-do-list__edit-btn, 
.to-do-list__delete-btn {
  outline: none;
}

.add-elem__add-btn, 
.to-do-list__edit-btn, 
.to-do-list__delete-btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.add-elem__add-btn:hover, 
.to-do-list__edit-btn:hover, 
.to-do-list__delete-btn:hover {
  color: #3a3a3a;
}

/* Heading */

.section__title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.to-do-list__task-input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.to-do-list__task-input:focus {
  color: #333;
}

/* Task list */

.to-do-list__task-item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.to-do-list__task-item > * {
  vertical-align: middle;
}

.to-do-list__checkbox {
  margin: 0 10px;
}

.to-do-list__label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.to-do-list__task-item > .to-do-list__task-input {
  width: 226px;
}

.to-do-list__remove-img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.to-do-list__remove-img:hover {
  transform: rotateZ(0);
}

/* Completed */

.to-do-list_compl .to-do-list__label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */

.to-do-list .to-do-list__task-item .to-do-list__task-input {
  display: none;
}

.to-do-list .edit-mode .to-do-list__task-input {
  display: inline-block;
  width: 224px;
}

.to-do-list .edit-mode .to-do-list__label {
  display: none;
}